<div class="main">
    <div class="parent">
        <h1>Spotify Sorter</h1>
        <p>Spotify Sorter is a website to organise, create and 
            public playlists on Spotify based off of specific 
            categories/dates/genres etc. It will help to create playlists 
            quickly when dealing with a large library of songs.</p>
        <hr/>
        <p>Sign in to your spotify account below to get started.</p>
        <button mat-flat-button color="warn" id="sign-in-button" (click)="spotifyRedirectToLogin()">Sign In</button>
    </div>
    <img src="../../assets/images/background_1.jpg" id="background-image">
</div>
