<mat-dialog-content>
    <div class="dialog-content">
        <div class="playlist-image-parent">
            <img id="playlist-image" src="../../assets/images/default.jpg">
        </div>
        <div class="playlist-details">
            <input class="playlist-name" [(ngModel)]="name" placeholder="Playlist Name">
            <mat-checkbox class="collaborative-checkbox" [(ngModel)]="collaborative">Collaborative</mat-checkbox>
        </div>
        <div class="playlist-description">
            <mat-form-field appearance="outline">
                <mat-label>Description...</mat-label>
                <textarea cdkTextareaAutosize matInput [(ngModel)]="description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Visibility</mat-label>
                <mat-select [(ngModel)]="visibility">
                    <mat-option value="public">Public</mat-option>
                    <mat-option value="private">Private</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button cdkFocusInitial (click)="createPlaylist()">Create</button>
</mat-dialog-actions>
