.dialog-parent{ overflow: clip!important; }
.playlist-main{
    display: grid;
    grid-template-columns: 50% 50%;
}
.playlist-secondary{
    display: flex;
    flex-direction: row;
}
#playlist-image{ flex-shrink: 0; width: 15vw; height: 15vw; cursor: pointer; object-fit: cover; }
#playlist-image:hover{ filter: brightness(0.7); }
#image-file-input{ display: none; }
.playlist-details{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    place-self: center;
}
.playlist-name{
    font-size: 2rem;
    align-self: end;
    background-color: rgb(66, 66, 66);
    border: none;
    color: white;
}
.playlist-name:focus{ outline: none!important; }
.playlist-options{ display: flex; flex-direction: column; }
.collaborative-checkbox{ justify-self: start; }
.public-checkbox{ align-self: start;}
.playlist-description{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: -1.2rem!important;
}
.dialog-buttons{
    padding: 0px!important;
    margin: 0!important;
}