/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
    )
));

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

html, body{ padding: 0; margin: 0; }
.text-light{ color: #ececec!important; }
.font-size-1{ font-size: 1rem!important; }
.font-size-2{ font-size: 2rem!important; }