.spacer {
    flex: auto;
}
.main{
    width: 100%;
    height: 100%;
    z-index: -1;
}
#tracks-table{width: 100%!important;}
.track-image{max-height: 3.5rem;}
#createPlaylistButton{ text-decoration: none!important; color: white!important;}

.filter{
    display: grid;
    height: 100%;
    place-items: center;
}
.filter-input{ 
    max-height: 50px;
    overflow: hidden;
}
mat-form-field.mat-form-field {
    font-size: 12px;
}
#filter-input-text{ color: white; }
.track-name-details{
    display: grid!important;
    grid-template-rows: 50% 50%;
    justify-self: start;
}
.track-name {
    align-self: end;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.track-artist { align-self: start; }
.track-genre { place-self: center; }
.track-date-added { place-self: center; }