@media only screen and (max-width: 599px) { 
    #parent{
        grid-template-columns: 100vw!important;
        grid-template-rows: 70vh 30vh!important;
        grid-template-areas: "tracks"
        "playlists"!important;
    }
    .main{
        max-height: 100%!important;
        width: 100vw!important;
    }
    .playlists{
        max-height: 100%!important;
        width: 100vw!important;
        .playlist{
            grid-template-columns: 2fr 3fr!important;
        }
    }
    .track{
        height: 10vw!important;
        grid-template-columns: 1fr 2fr 2fr 1fr!important;
        column-gap: 5px;
    }
    .track-image{
        height: 10vw!important;
    }
    .track-details{ justify-self: start!important; }
    .track-genre{ font-size: 0.75rem;}
    .track-artist{ font-size: 0.7rem; color: rgb(168, 168, 168)!important;}
}
#parent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70vw 30vw;
    grid-template-areas: "tracks playlists";
}
.main{
    grid-area: tracks;
    width: 100%;
    display: flex;
    max-height: 100vh;
    background-color: #1b1b1b;
    float: left;
    flex-direction: column;
}
.spacer{ flex: auto; }
.toolbar{
    padding: 1rem;
}
.tracks{ overflow-y: auto; }
.playlists{
    grid-area: playlists;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: rgb(5,5,5);
}
.playlist{
    max-width: 100%;
    overflow: hidden;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image details";
}
.playlist-image{
    width: 100%!important;
    overflow-x: hidden;
    place-self: center;
    filter:grayscale(1) blur(1px);
    grid-area: image;
}
.playlist-name{
    align-self: end;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.playlist-public{ align-self: start; font-size: 0.75rem; color: rgb(200,200,200); }
.playlist-count{ place-self: center; }
.playlist-name-box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 0.5rem;
}
.playlist-details{
    grid-area: details;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.track{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: minmax(0%, 10%) 4fr 4fr 4fr;
    grid-template-areas: "image details album genre";
    align-items: center;
    background-color: #1b1b1b;
}
.track-index{ grid-area: index; font-weight: 800; place-self: center; }
.track-image{ height: 100%; grid-area: image; justify-self: start; }
.track-details{ 
    grid-area: details; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}
.track-name{ align-self: end; }
.track-artist{ align-self: start; }
.track-added{ grid-area: date; }