<div class="main">
    <!-- <div class="playlist-image-parent">
        <img id="playlist-image" (click)="imageFileInput()" src="../../assets/images/default.jpg">
        <input type="file" id="image-file-input" (change)="onImageFileSelected($event)">
    </div> -->
    <div class="playlist-create">
        <button mat-fab color="primary" id="playlist-create-button" (click)="openPlaylistCreateDialog()">
            <i class="material-icons">done</i>
        </button>
    </div>
    <div class="tracks">
        <div class="track" *ngFor="let track of tracks">
            <img class="track-image" src={{track.image}}>
            <div class="track-details">
                <span class="track-name lead text-light">{{track.name}}</span>
                <span class="track-artist fw-bolder text-light">{{track.artist}}</span>
            </div>
            <span class="track-album fs-5 text-light">{{track.album}}</span>
            <span class="track-genre text-light">{{track.genre[0]}}</span>
        </div>
    </div>
</div>